@model Usuario

@{
    if (Model.USU_TPU_Id == 1) {
        Layout = "_LayoutAdm";
    } else {
        Layout = "_LayoutUser";
    }
    ViewData["Title"] = Model.USU_Name + " - Meu perfil";
}

<label class="label-text-tarefa">Nome:</label>
<p class="text-tarefa">@Model.USU_Name</p>

<label class="label-text-tarefa">Email:</label>
<p class="text-tarefa">@Model.USU_Email</p>

<a asp-action="AlterarSenha" asp-controller="Usuario" class="btn btn-outline-warning">Alterar senha</a>